a {
  color: #FF5C5C;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: none; }

.color-red {
  color: #FF5C5C; }

.color-gray {
  color: #888888; }

.color-blue {
  color: #5C5CFF; }

.color-green {
  color: #00CC00; }

.pd-t5px {
  padding-top: 5px; }

.pd-t10px {
  padding-top: 10px; }

.pd-t15px {
  padding-top: 15px; }

.pd-t20px {
  padding-top: 20px; }

.pd-t25px {
  padding-top: 25px; }

.pd-t30px {
  padding-top: 30px; }

.pd-t35px {
  padding-top: 35px; }

.pd-t40px {
  padding-top: 40px; }

.pd-t45px {
  padding-top: 45px; }

.pd-t50px {
  padding-top: 50px; }

.pd-b5px {
  padding-bottom: 5px; }

.pd-b10px {
  padding-bottom: 10px; }

.pd-b15px {
  padding-bottom: 15px; }

.pd-b20px {
  padding-bottom: 20px; }

.pd-b25px {
  padding-bottom: 25px; }

.pd-b30px {
  padding-bottom: 30px; }

.pd-b35px {
  padding-bottom: 35px; }

.pd-b40px {
  padding-bottom: 40px; }

.pd-b45px {
  padding-bottom: 45px; }

.pd-b50px {
  padding-bottom: 50px; }

#wrapper {
  margin: 0 auto;
  text-align: center; }

.form-panel {
  /* position: relative; */
  padding: 20px;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  opacity: 1;
  background-color: #f9f9f9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: top .3s ease-in-out,left .3s ease-in-out;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-transition: top .3s ease,left .3s ease;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  -ms-transition: top .3s ease,left .3s ease;
  -o-transition: top .3s ease-in-out,left .3s ease-in-out;
  transition: top .3s ease-in-out,left .3s ease-in-out; }

.btn-account-student-true, .btn-account-student-false {
  display: block;
  width: 120px;
  padding: 7px 5px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  float: left;
  margin: 10px; }

.btn-account-student-true {
  background-color: #FF5C5C;
  color: #ffffff;
  position: relative;
  font-size: 14px;
  z-index: 1;
  cursor: pointer;
  margin-right: 15px; }

.btn-account-student-true:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #888888;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.btn-account-student-false {
  border: 2px solid #FF5C5C;
  background-color: #ffffff;
  color: #FF5C5C;
  position: relative;
  font-size: 14px;
  z-index: 1;
  cursor: pointer;
  margin-right: 15px; }

.btn-account-student-false:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #FF5C5C;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.btn-account-mentor-true, .btn-account-mentor-false {
  display: block;
  width: 140px;
  padding: 7px 5px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  float: left;
  margin: 10px; }

.btn-account-mentor-true {
  background-color: #00CC00;
  color: #ffffff;
  position: relative;
  font-size: 14px;
  z-index: 1;
  cursor: pointer;
  margin-right: 15px; }

.btn-account-mentor-true:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #888888;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.btn-account-mentor-false {
  border: 2px solid #00CC00;
  background-color: #ffffff;
  color: #00CC00;
  position: relative;
  font-size: 14px;
  z-index: 1;
  cursor: pointer;
  margin-right: 15px; }

.btn-account-mentor-false:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #00CC00;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.lbl-account-student {
  display: block;
  width: 160px;
  padding: 7px 5px;
  text-align: center;
  background-color: #FF5C5C;
  color: #fff;
  position: relative;
  font-size: 12px;
  z-index: 1;
  margin: 0 auto;
  float: left; }

.lbl-account-mentor {
  display: block;
  width: 160px;
  padding: 7px 5px;
  text-align: center;
  background-color: #00CC00;
  color: #fff;
  position: relative;
  font-size: 12px;
  z-index: 1;
  margin: 0 auto;
  float: left; }

.lbl-account-supporter {
  display: block;
  width: 160px;
  padding: 7px 5px;
  text-align: center;
  background-color: #5C5CFF;
  color: #fff;
  position: relative;
  font-size: 12px;
  z-index: 1;
  margin: 0 auto;
  float: left; }

.tab-register a {
  color: #222222;
  border: 2px solid #FF5C5C; }
  .tab-register a:hover {
    color: #ffffff;
    background-color: #FF5C5C !important; }
.tab-register.active a {
  background-color: #FF5C5C !important; }

/*# sourceMappingURL=studygift.css.map */
