$white: #ffffff;
$black: #000000;
$gray: #888888;
$red: #FF5C5C;
$blue: #5C5CFF;
$green: #00CC00;
$font_basic:  "Lato", "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif;
$width: 1024x;
$base_px: 5px;

a {
  color: $red;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

.color-red {
  color: $red;
}
.color-gray {
  color: $gray;
}
.color-blue {
  color: $blue;
}
.color-green {
  color: $green;
}

@for $i from 1 through 10 {
  .pd-t#{$base_px*$i} {
    padding-top: $base_px*$i;
  }
}

@for $i from 1 through 10 {
  .pd-b#{$base_px*$i} {
    padding-bottom: $base_px*$i;
  }
}

#wrapper {
  margin: 0 auto;
  text-align: center;
}

.form-panel {
  /* position: relative; */
  padding: 20px;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  opacity: 1;
  background-color: #f9f9f9;
  border-bottom: {
    left-radius: 4px;
    right-radius: 4px;
  }
  -webkit: {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,.5);
    transition: top .3s ease-in-out,left .3s ease-in-out;
  }
  -moz: {
    border-radius-bottomleft: 4px;
    border-radius-bottomright: 4px;
    shadow: 1px 1px 2px 0 rgba(0,0,0,.5);
    transition: top .3s ease,left .3s ease;
  }
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,.5);
  -ms-transition: top .3s ease,left .3s ease;
  -o-transition: top .3s ease-in-out,left .3s ease-in-out;
  transition: top .3s ease-in-out,left .3s ease-in-out;
}

%btn-account-student {
  display: block;
  width: 120px;
  padding: 7px 5px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  float: left;
  margin: 10px;
};

.btn-account-student-true {
  @extend %btn-account-student;
  background-color: $red;
  color: $white;
  position: relative;
  font-size: 14px;
  z-index: 1;
  cursor: pointer;
  margin-right: 15px;

}
.btn-account-student-true:hover{
  color: #ffffff;
  cursor: pointer;
  background-color: $gray;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn-account-student-false {
  @extend %btn-account-student;
  border: 2px solid $red;
  background-color: $white;
  color: $red;
  position: relative;
  font-size: 14px;
  z-index: 1;
  cursor: pointer;
  margin-right: 15px;
}
.btn-account-student-false:hover{
  cursor: pointer;
  color: $white;
  background-color: $red;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

%btn-account-mentor {
  display: block;
  width: 140px;
  padding: 7px 5px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  float: left;
  margin: 10px;
}
.btn-account-mentor-true {
  @extend %btn-account-mentor;
  background-color: $green;
  color: $white;
  position: relative;
  font-size: 14px;
  z-index: 1;
  cursor: pointer;
  margin-right: 15px;
}
.btn-account-mentor-true:hover{
  color: #ffffff;
  cursor: pointer;
  background-color: $gray;
  -webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.btn-account-mentor-false {
  @extend %btn-account-mentor;
  border: 2px solid $green;
  background-color: $white;
  color: $green;
  position: relative;
  font-size: 14px;
  z-index: 1;
  cursor: pointer;
  margin-right: 15px;
}
.btn-account-mentor-false:hover{
  cursor: pointer;
  color: $white;
  background-color: $green;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.lbl-account-student {
  display: block;
  width: 160px;
  padding: 7px 5px;
  text-align: center;
  background-color: $red;
  color: #fff;
  position: relative;
  font-size: 12px;
  z-index: 1;
  margin: 0 auto;
  float: left;
}

.lbl-account-mentor {
  display: block;
  width: 160px;
  padding: 7px 5px;
  text-align: center;
  background-color: $green;
  color: #fff;
  position: relative;
  font-size: 12px;
  z-index: 1;
  margin: 0 auto;
  float: left;
}

.lbl-account-supporter {
  display: block;
  width: 160px;
  padding: 7px 5px;
  text-align: center;
  background-color: $blue;
  color: #fff;
  position: relative;
  font-size: 12px;
  z-index: 1;
  margin: 0 auto;
  float: left;
}

.tab-register {
  a {
    color: #222222;
    border: 2px solid $red;
    &:hover {
      color: $white;
      background-color: $red !important;
    }
  }
  &.active a {
    background-color: $red !important;
  }
}
