{% extends "core2/base_old.html" %}

{% block mainContent%}
<div ng-app="fs">
    {% if issues %}
      {% include 'core2/include/issue_grid.html' %}
    {% else %}
        <p>No issues found</p>
    {% endif %}
</div>
{% endblock mainContent %}
