{# -*- coding:utf-8; -*- #}
{% extends "core2/base.html" %}
{% load i18n %}

{% block head %}
    <script>
        if(!window.FS){
            window.FS = {};
        }
        FS.dependencies = ['issuecards'];
    </script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js-generated/fs.js"></script>
    <script>
        function HomeCtrl($scope) {
            var issues_sponsoring = {{ issues_sponsoring|safe }};
            for(var i=0; i < issues_sponsoring.length; i++){
                var issue = issues_sponsoring[i];
                issue.four_sponsors_places = get4Sponsors(issue);
            }
            $scope.issues_sponsoring = issues_sponsoring;
            $scope.issues_proposed = {{ issues_kickstarting|safe }};
        }
    </script>
{% endblock %}


{% block mainContent%}
    <div class="content" align="center" ng-app="fs" ng-controller="HomeCtrl">
        <div class="home-content-section" align="left">

            <!-- FS Home Logo -->
            <img class="fs-logo" src="/static/img2/fs_logo.png"/>
			<div class="vgap-30"><!-- Vertical Gap 30px --></div>
			<!-- FS Home Slogan -->
			<div class="column-wrapper vcenter-content" style="height: 80px; padding:0 31px">
				<div class="column fit">
					<p class="green-text font-size-20 italic">Crowdfunding Free Software, one issue at time</p>
					<p class="font-size-14 light-grey-text italic">Place money bounties for Free and Open Source project issues.</p>
				</div>
				<div>
					<a href="/faq" onclick="submit()" class="fs-button medium green">Learn more</a>
				</div>
			</div>
            <!-- Home Search -->
            <div class="home-search-box fs-box">
				<form method="get" action="/search">
					<div class="column-wrapper vcenter-content">
                        <div class="column fit">
                            <input name="s" type="text" placeholder="Paste an issue tracker URL, search for an issue name or a project" class="fs-input search"/>
                        </div>
                        <div class="hgap-15"></div>
                        <div>
                            <a href="/search" onclick="submit()" class="fs-button medium blue">Search</a>
                        </div>
					</div>
				</form>
            </div>

            <!-- <div class="divider"><\!-- Divider -\-></div> -->

            <!-- <\!-- Sponsored Issues -\-> -->
            <!-- <issue-cards issues="issues_sponsoring" label="Sponsored Issues" sponsoring="true"></issue-cards> -->

            <div class="divider"><!-- Divider --></div>

            <!-- Proposed Issues -->
            <!-- <issue-cards issues="issues_proposed" label="Proposed Issues" sponsoring="false"></issue-cards> -->
            <issue-cards issues="issues_proposed" label="プロジェクト" sponsoring="false"></issue-cards>
        </div>
    </div>
{% endblock mainContent%}
