{# -*- coding:utf-8; -*- #}
{% extends "core2/base.html" %}
{% load markdown %}
{% load i18n %}
{% load l10n %}

{% block og_meta %}
    <meta property="og:title" content="US$ {{ issue.total_open_offers_usd }} bounty on FreedomSponsors: {{ issue.title }}" />
    <meta name="description" content="US$ {{ issue.total_open_offers_usd }} bounty on FreedomSponsors: {{ issue.title }}" />
    <meta property="og:image" content="http://www.freedomsponsors.org/{{ issue.get_card_image }}" />
    <meta name="image" content="http://www.freedomsponsors.org/{{ issue.get_card_image }}" />
{% endblock og_meta %}

{% block title %}
    {{ issue.project.name }} - {{ issue.title }}
{% endblock %}



{% block head %}
    <script>
        if(!window.FS){
            window.FS = {};
        }
        FS.dependencies = ['angularutils', 'fswatch'];
    </script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js-generated/fs.js"></script>
    <script src="/static/bootstrap/js/showdown.js"></script>
    <script type="text/javascript">

        function IssueCtrl($scope) {
            $scope.new_comment = '';

            var is_authenticated = {% if user and user.is_authenticated %}true{% else %}false{% endif %};
            $scope.watching = 'True' == '{{ is_watching }}';
            $scope.watchLink = '';
            if(!is_authenticated){
                $scope.watchLink = '/login?next={{ issue.get_view_link }}';
            }

            $scope.description = '{{ issue.description|escapejs }}'

            {% for comment in issue.getComments %}
                $scope.comment_{{ comment.id }} = '{{ comment.content|escapejs }}';
            {% endfor %}

            $scope.offer_dic = {};
            {% for offer in issue.getOffers %}
                $scope.offer_dic[{{ offer.id }}] = {
                    author: '{{ offer.sponsor.username }}',
                    acceptance_criteria: '{{ offer.acceptanceCriteria|markdown|escapejs }}'
                };
            {% endfor %}

            $scope.actionmodal = {};

            {% if myoffer %}
                $scope.myoffer = {
                    id : "{{myoffer.id}}",
                    acceptanceCriteria : "{{myoffer.acceptanceCriteria|escapejs}}",
                    currency : '{{myoffer.currency}}',
                    {% localize off %}
                        price : {{myoffer.price}},
                    {% endlocalize %}
                    no_forking : '{{myoffer.no_forking}}' == 'True',
                    require_release : '{{myoffer.require_release}}' == 'True',
                    expires : '{{myoffer.expires}}' == 'True',
                    expiration_time : {{myoffer.expiration_time}}
                };
            {% else %}
                $scope.myoffer = {
                    no_forking: true,
                    require_release: true,
                    currency: 'USD'
                };
            {% endif %}

            $scope.editDescription = function(visible){
                if(visible){
                    $('#div_description_r').slideUp();
                    $('#div_description_w').slideDown();
                } else {
                    $('#div_description_r').slideDown();
                    $('#div_description_w').slideUp();
                }
            };

            $scope.editComment = function(comment_id, visible){
                if(visible){
                    $('#div_comment_r_' + comment_id).slideUp();
                    $('#div_comment_w_' + comment_id).slideDown();
                } else {
                    $('#div_comment_r_' + comment_id).slideDown();
                    $('#div_comment_w_' + comment_id).slideUp();
                }
            };

            function validate_submit_sponsor(){
                var price = parseFloat($scope.myoffer.price);
                var currency = $scope.myoffer.currency;
                var acceptance = $scope.myoffer.acceptanceCriteria;
                var expires = $scope.myoffer.expires;
                if(isNaN(price)){
                    alert('please specify an offer value');
                    return false;
                }
                if(currency == 'USD'){
                    if(price < 5){
                        alert('The minimum offer is US$ 5.00');
                        return false;
                    }
                }
                if(!acceptance){
                    alert('please specify your acceptance criteria for this offer');
                    return false;
                }
                if(expires && !$('#expiration_time').val()){
                    alert('please specify an expiration time (in days)');
                    return false;
                }
                $('#action_form').submit()
            }

            function validate_submit_others(){
                $('#action_form').submit()
            }

            $scope.sponsor = function(){
                if($scope.myoffer.id){
                    return $scope.change();
                }
                $scope.actionmodal.action = 'SPONSOR';
                $scope.actionmodal.validate_and_submit = validate_submit_sponsor;
                $scope.actionmodal.title = 'Sponsor issue';
                $scope.actionmodal.formaction = '/issue/sponsor/submit';
                $scope.actionmodal.buttonlabel = 'Sponsor!';
                $scope.actionmodal.commentplaceholder = "Please put some thought into this one - it's a big help for the programmer who will work on this. What is your definition of 'done' for this task? Not just 'done', but 'so-done-that-I'm-willing-to-pay-for-it-done' :-)";
                $('#action_modal').modal()
            };

            $scope.revoke = function(){
                $scope.actionmodal.action = 'ACTION_AND_COMMENT';
                $scope.actionmodal.validate_and_submit = validate_submit_others;
                $scope.actionmodal.show_accept_payments = false;
                $scope.actionmodal.title = 'Revoke offer';
                $scope.actionmodal.formaction = '/offer/revoke/submit';
                $scope.actionmodal.buttonlabel = 'Revoke offer';
                $scope.actionmodal.commentplaceholder = "Add a comment to let everyone know that you're not willing to pay for this issue anymore.";
                $('#action_modal').modal()
            };

            $scope.change = function(){
                $scope.actionmodal.action = 'SPONSOR';
                $scope.actionmodal.validate_and_submit = validate_submit_sponsor;
                $scope.actionmodal.title = 'Change offer';
                $scope.actionmodal.formaction = '/offer/edit/submit';
                $scope.actionmodal.buttonlabel = 'Change offer';
                $scope.actionmodal.commentplaceholder = "Please put some thought into this one - it's a big help for the programmer who will work on this. What is your definition of 'done' for this task? Not just 'done', but 'so-done-that-I'm-willing-to-pay-for-it-done' :-)";
                $('#action_modal').modal()
            };

            $scope.work = function(){
                $scope.actionmodal.action = 'ACTION_AND_COMMENT';
                $scope.actionmodal.validate_and_submit = validate_submit_others;
                $scope.actionmodal.show_accept_payments = true;
                $scope.actionmodal.title = 'Work on issue';
                $scope.actionmodal.formaction = '/solution/add/submit';
                $scope.actionmodal.buttonlabel = 'Start work';
                $scope.actionmodal.commentplaceholder = "Add a comment to let everyone know that you'll be working on this issue.";
                $('#action_modal').modal()
            };

            $scope.resolve = function(){
                $scope.actionmodal.action = 'ACTION_AND_COMMENT';
                $scope.actionmodal.validate_and_submit = validate_submit_others;
                $scope.actionmodal.show_accept_payments = false;
                $scope.actionmodal.title = 'Resolve issue';
                $scope.actionmodal.formaction = '/solution/resolve/submit';
                $scope.actionmodal.buttonlabel = 'Resolve issue';
                $scope.actionmodal.commentplaceholder = "Add a comment to let everyone know that you resolved the issue!";
                $('#action_modal').modal()
            };

            $scope.abort = function(){
                $scope.actionmodal.action = 'ACTION_AND_COMMENT';
                $scope.actionmodal.validate_and_submit = validate_submit_others;
                $scope.actionmodal.show_accept_payments = false;
                $scope.actionmodal.title = 'Abort work';
                $scope.actionmodal.formaction = '/solution/abort/submit';
                $scope.actionmodal.buttonlabel = 'Abort work';
                $scope.actionmodal.commentplaceholder = "Add a comment to let everyone know that you won't be working on this issue anymore.";
                $('#action_modal').modal()
            };

            // メンターになるダイアログ
            $scope.become_mentor = function () {
                $scope.actionmodal.action = 'ACTION_AND_COMMENT';
                $scope.actionmodal.validate_and_submit = validate_submit_others;
                $scope.actionmodal.show_accept_payments = true;
                $scope.actionmodal.title = 'メンターになる';
                $scope.actionmodal.formaction = '/solution/mentor/submit';
                $scope.actionmodal.buttonlabel = 'メンターになる';
                $scope.actionmodal.commentplaceholder = "Add a comment to let everyone know that you'll be working on this issue.";
                $('#action_modal').modal()
            };

            $scope.close_modal = function(id){
                $(id).modal('hide')
            };

            $scope.acceptance_popup = function(offer_id){
                $scope.current_offer = $scope.offer_dic[offer_id];
                $('#acceptance_modal').modal()
            }

            {% if show_sponsor_popup %}
                $scope.sponsor();
            {% endif %}

        }

        function activaTab(tab){
            $('a[href="' + tab + '"]').trigger('click');
        };

        $(document).ready(function(){
            $('a[data-toggle]').click(function (e) {
              window.location.hash = e.target.hash;
            });

            var h = document.location.hash;
            if(h) {
                activaTab(h);
            }
        });
    </script>
{% endblock %}

{% block mainContent%}

    <div ng-app="fs" ng-controller="IssueCtrl">
        <div class="content" align="center">
        <div class="content-section" align="left">
        <!-- Issue Title -->
        <h1 class="blue-text"><a target="_blank" href="{{ issue.trackerURL }}">[ Issue ] {{ issue.key }}: {{ issue.title }}</a></h1>

        <div class="column-wrapper">

        <!-- Issue Details -->
        <div class="column fit">


        <!-- Tab Navigator -->
        <div class="fs-tab-navigator">

            <!-- Tab's List -->
            <ul class="tab-list" id="myTab">
                <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                {% if issue.getOffers %}
                    <li><a href="#sponsors" data-toggle="tab">Sponsors ({{ issue.getOffers|length }})</a></li>
                {% endif %}
                {% if issue.getSolutions %}
                    <li><a href="#developers" data-toggle="tab">Developers ({{ issue.getSolutions|length }})</a></li>
                {% endif %}
            </ul>

            <!-- Tab's Content -->
            <div class="tab-content">

                <!-- Description Tab -->
                <div class="tab-pane active" id="description">
                    <div class="fs-box issue-description push-footer" id="div_description_r">
                        <div id="bootstrap-content">
                            {% if issue.description %}
                                {{ issue.description|markdown|safe }}
                            {% else %}
                                [No description]
                            {% endif %}
                        </div>
                        {% if issue.createdByUser.id == user.id %}
                            <div class="fs-box-footer">
                                <div class="column fit" align="right">
                                    <a href ng-click="editDescription(true)">Edit</a>
                                    <div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if issue.createdByUser.id == user.id %}
                        <div id="div_description_w" style="display: none">
                            <form method="post" class="well form-horizontal" action="/issue/edit/submit" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="issue_id" value="{{issue.id}}">
                                <text-with-markdown-preview model="description" nameid="description"></text-with-markdown-preview>
                                <div>
                                    <input type="checkbox" ng-model="add_issue_logo">Add a logo for this issue
                                    <input type="file" ng-show="add_issue_logo" name="logo">
                                </div>
                                <span>
                                <a href ng-click="editDescription(false)">{% trans "Cancel"%}</a>
                                <button type="submit">{% trans "Submit"%}</button>
                                </span>
                            </form>
                        </div>
                    {% endif %}

                    <div class="divider"><!-- Divider --></div>

                    <div>
                      メンター評価:
                      <br />
                      {% if user.is_mentor_user %}
                        {% if not mentor_evaluation.evaluated %}
                          <form method="post" class="well form-horizontal" action="/issue/evaluation/submit" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="issue_id" value="{{issue.id}}">
                            <input type="hidden" name="evaluation_id" value="{{mentor_evaluation.id}}">
                            意欲:
                            <select id="motivation_rank" name="motivation_rank">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            &nbsp;
                            実行力:
                            <select id="action_rank" name="action_rank">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            &nbsp;
                            必要性:
                            <select id="necessity_rank" name="necessity_rank">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                            &nbsp;
                            <input type="submit" name="evelute" value="評価する"/>
                          </form>
                        {% else %}
                          意欲: {{mentor_evaluation.motivation_rank}}
                          &nbsp;
                          実行力: {{mentor_evaluation.action_rank}}
                          &nbsp;
                          必要性: {{mentor_evaluation.necessity_rank}}
                        {% endif %}
                      {% else %}
                        {% for evaluation in issue.get_evaluations %}
                          &nbsp;
                          &nbsp;
                          メンター: {{evaluation.mentor}}
                          &nbsp;
                          {% if evaluation.evaluated %}
                            意欲: {{evaluation.motivation_rank}}
                            &nbsp;
                            実行力: {{evaluation.action_rank}}
                            &nbsp;
                            必要性: {{evaluation.necessity_rank}}
                          {% else %}
                            未評価
                          {% endif %}
                          <br />
                        {% endfor %}
                      {% endif %}
                    </div>
                        
                    <div class="divider"><!-- Divider --></div>

                    {% for comment in issue.getComments %}
                        {% if forloop.counter > 1 %}
                            <div class="vgap-15"><!-- Vertical Gap 15px --></div>
                        {% endif %}
                        {% include 'core2/include/comment.html' %}
                    {% endfor %}

                    <!-- Leave a Comment -->
                    <div class="vgap-15"><!-- Vertical Gap 60px --></div>
                    {% if user and user.is_authenticated %}
                        <div class="column-wrapper">
                            <div class="column">
                                <div class="user-picture"><img src="{{user.gravatar_url_medium}}"></div>
                            </div>
                            <div class="hgap-15"><!-- Horizontal Gap 15px --></div>
                            <div class="fs-box column fit">
                                <p>Leave your comment.</p>
                                <form id="add_comment" action="/issue/comment/add/submit" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="issue_id" name="issue_id" value="{{issue.id}}">

                                    <text-with-markdown-preview model="new_comment" nameid="content"></text-with-markdown-preview>

                                    <p class="text-align-right">
                                        <a href="#" onclick="add_comment.submit()" class="fs-button blue medium">Submit</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    {% endif %}

                </div>

                {% if issue.getOffers %}
                    <!-- Sponsors Tab -->
                    <div class="tab-pane" id="sponsors">

                        <!-- Issue Sponsor Header-->
                        <div class="fs-box">
                            <div class="column-wrapper">
                                <div class="column" style="width:185px">
                                    <span class="font-size-18 ubahn">Sponsor</span>
                                </div>
                                <div class="column fit">
                                    <span class="font-size-18 ubahn">Offer</span>
                                </div>
                                <div class="column fit">
                                    <span class="font-size-18 ubahn">Acceptance</span>
                                </div>
                                <div class="column fit centered-text">
                                    <span class="font-size-18 ubahn">Status</span>
                                </div>
                                <div class="column fit">
                                    <span class="font-size-18 ubahn">Date</span>
                                </div>
                                <div class="column fit">
                                    <span class="font-size-18 ubahn">Expire Date</span>
                                </div>
                            </div>
                        </div>

                        {% for offer in issue.getOffers %}
                            <!-- Issue Sponsor Row-->
                            <div class="vgap-15"><!-- Vertical Gap 15px --></div>
                            <div class="fs-box">
                                <div class="column-wrapper vcenter-content" style="height:50px;">
                                    <!-- Sponsor-->
                                    <div class="column" style="width:170px;padding-right:15px;">
                                        <div class="column-wrapper vcenter-content">
                                            <div class="user-picture"><img src="{{offer.sponsor.gravatar_url_medium}}"></div>
                                            <div class="hgap-15"><!-- Horizontal Gap 15px --></div>
                                            <!-- Sponsor Name -->
                                            <div class="column fit">
                                                <a href="{{ offer.sponsor.get_view_link }}" class="arial">{{ offer.sponsor.username }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Offer -->
                                    <div class="column fit">
                                        <p>{{offer.get_currency_symbol}} {{offer.price_formatted}}</p>
                                    </div>
                                    <!-- Acceptance -->
                                    <div class="column fit">
                                        {% if offer.no_forking %}
                                            <div>
                                                {#                            <i class="icon-home popopo" rel="popover" data-content="{% trans "Solution must be available in the main project codebase. Forking is not OK." %}" data-original-title="{% trans "No forking" %}"></i>#}
                                                No forking
                                            </div>
                                        {% endif %}
                                        {% if offer.require_release %}
                                            <div>
                                                {#                            <i class="icon-gift popopo" rel="popover" data-content="{% trans "Solution must be available as a new released version. Just commiting is not enough." %}" data-original-title="{% trans "Release required" %}"></i>#}
                                                Release required
                                            </div>
                                        {% endif %}
                                        <div>
                                            <a href ng-click="acceptance_popup({{ offer.id }})">[More...]</a>
                                        </div>
                                    </div>
                                    <!-- Status -->
                                    <div class="column fit text-align-center">
                                        <p>{% if offer.is_expired %}{% trans "EXPIRED" %}{% else %}{{offer.status}}{% endif %}</p>
                                    </div>
                                    <!-- Date -->
                                    <div class="column fit">
                                        <p><span title="{{ offer.creationDate }}">{{ offer.creationDate|date:"M/d/Y" }}</span></p>
                                    </div>
                                    <!-- Expire Date -->
                                    <div class="column fit">
                                        <p><span title="{{ offer.expirationDate }}">{{ offer.expirationDate|date:"M/d/Y" }}</span></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                    <!-- Modal -->
                    <div class="modal fade in" id="acceptance_modal">
                        <div class="modal-dialog column-wrapper vertical">
                            <div class="column fit"></div>
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" ng-click="close_modal('#acceptance_modal')" >&times;</button>
                                    <span class="modal-title font-size-20 ubahn grey-text">{[{ current_offer.author }]}'s acceptance criteria</span>
                                </div>
                                <div class="divider small"></div>

                                <div class="modal-body" ng-bind-html-unsafe="current_offer.acceptance_criteria">
                                </div>
                                <div class="modal-footer">
                                    <a href ng-click="close_modal('#acceptance_modal')" class="fs-button green medium">Close</a>
                                </div>
                            </div>
                            <div class="column fit"></div>
                        </div>
                    </div>

                {% endif %}



                {% if issue.getSolutions %}
                    <!-- Developers Tab -->
                    <div class="tab-pane" id="developers">
                        <!-- Issue Developers Header-->
                        <div class="fs-box">
                            <div class="column-wrapper">
                                <div class="column" style="width:185px">
                                    <span class="font-size-18 ubahn">Developer</span>
                                </div>
                                <div class="column fit">
                                    <span class="font-size-18 ubahn">Status</span>
                                </div>
                                <div class="column" style="width:100px;">
                                    <span class="font-size-18 ubahn">Date</span>
                                </div>
                            </div>
                        </div>

                        {% for solution in issue.getSolutions %}
                            <!-- Issue Sponsor Row-->
                            <div class="vgap-15"><!-- Vertical Gap 15px --></div>
                            <div class="fs-box">
                                <div class="column-wrapper vcenter-content" style="height:50px;">
                                    <!-- Sponsor-->
                                    <div class="column" style="width:170px;padding-right:15px;">
                                        <div class="column-wrapper vcenter-content">
                                            <div class="user-picture"><img src="{{ solution.programmer.gravatar_url_medium }}"></div>
                                            <div class="hgap-15"><!-- Horizontal Gap 15px --></div>
                                            <!-- Sponsor Name -->
                                            <div class="column fit">
                                                <a href="{{ solution.programmer.get_view_link }}" class="arial">{{ solution.programmer.username }}</a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Status -->
                                    <div class="column fit">
                                        <p>{{solution.status}}
                                            {% if solution.accepting_payments %}
                                                / {% trans "Accepting payments" %}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <!-- Date -->
                                    <div class="column" style="width:100px;">
                                        <p><span title="{{ solution.creationDate }}">{{ solution.creationDate|date:"D, d/M/Y" }}</span></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                {% endif %}

            </div>
        </div>

        </div>

        <div class="hgap-15"><!-- Horizontal Gap 15px --></div>

        <!-- Issue Overview -->
        <div class="column medium issue-overview">
            <h3 class="boxed">Overview</h3>

            <!-- Overview Info -->
            <div class="fs-box push-footer overview-card">
                <a href="{{ issue.project.get_view_link }}"> <span class="font-size-18 darkblue-text ubahn issue-title"> {{ issue.project.name }}</span> </a>
                <div class="divider small"><!--Small Divider--></div>
                <!-- Issue Project Logo -->
                <a href="{{ issue.project.get_view_link }}">
					<div class="project-logo">
						linefix<img src="{{ issue.get_card_image }}"/>
					</div>
				</a>
                <div class="vgap-15"><!-- Vertical Gap 15px --></div>
                <!--Issue Values-->
                <div class="issue-values">
                    {% if issue.total_open_offers_usd or issue.total_open_offers_btc %}
                        <h1 class="orange-text arial">
                            {% if issue.total_open_offers_btc %}
                                <span>BTC {{ issue.total_open_offers_btc|floatformat:4 }}</span>
                            {% endif %}
							{% if issue.total_open_offers_usd and issue.total_open_offers_btc %}<div class="vgap-5"><!-- Vertical Gap 5px --></div>{% endif %}
							{% if issue.total_open_offers_usd %}
                                <span>US$ {{ issue.total_open_offers_usd|floatformat:2 }}</span>
                            {% endif %}
                        </h1>
                        <h4 class="orange-text arial">Offered</h4>
                    {% endif %}
                    </br>
                    {% if issue.total_paid_offers_usd or issue.total_paid_offers_btc %}
                        <h1 class="arial">
                            {% if issue.total_paid_offers_btc %}
                                <span>BTC {{ issue.total_paid_offers_btc|floatformat:4 }}</span>
                            {% endif %}
							{% if issue.total_paid_offers_usd and issue.total_paid_offers_btc %}<div class="vgap-5"><!-- Vertical Gap 5px --></div>{% endif %}
							{% if issue.total_paid_offers_usd %}
                                <span>US$ {{ issue.total_paid_offers_usd|floatformat:2 }}</span>
                            {% endif %}
                        </h1>
                        <h4 class="arial">Paid</h4>
                    {% endif %}
                </div>
                <!-- Issue Status -->
                <div class="card-status {{ issue.get_status }}"></div>
                <!-- Box Footer -->
                <div class="fs-box-footer">
                    <watch-entity entity="ISSUE" objid="{{ issue.id }}" watching="watching" watch-link="watchLink"></watch-entity>
                </div>
            </div>

			<div class="vgap-15"><!-- Vertical Gap 15px --></div>
			
			<!-- Action Buttons -->
			{% include 'core2/include/issue_offer_action_bar.html' %}
			<div class="vgap-15"><!-- Vertical Gap 15px --></div>

            <!-- Issue Creator -->
            <div class="fs-box issue-creator">
                <div class="column-wrapper">
                    <!-- Creator Picture-->
                    <div class="user-picture"><img src="{{issue.createdByUser.gravatar_url_medium}}"></div>
                    <div class="hgap-15"><!-- Horizotal Gap 15px --></div>
                    <!-- Creator Name-->
                    <div class="column fit">
                        <h5 class="arial">Created by</h5>
                        <a href="{{ issue.createdByUser.get_view_link }}" class="arial font-size-11">{{ issue.createdByUser.username }}</a>
                    </div>
                </div>
            </div>

            <div class="vgap-15"><!-- Vertical Gap 15px --></div>

            <!-- Issue Mentor -->
            <h3>メンター:</h3>
            <div class="fs-box issue-creator">
                {% for user in mentors %}
                <div class="column-wrapper">
                    <!-- Creator Picture-->
                    <div class="user-picture"><img src="{{user.gravatar_url_medium}}"></div>
                    <div class="hgap-15"><!-- Horizotal Gap 15px --></div>
                    <!-- Creator Name-->
                    <div class="column fit">
                        <h5 class="arial">Mentor by</h5>
                        <a href="{{ user.get_view_link }}" class="arial font-size-11">{{ user.username }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="vgap-15"><!-- Vertical Gap 15px --></div>

            <!-- Share Buttons -->
            <h3 class="text-align-right">Help fund this issue. Share on:</h3>
            <div class="text-align-right">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.freedomsponsors.org/issue/{{ issue.id }}" class="social-button facebook"></a>
                <div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
                <a href="https://twitter.com/intent/tweet?url=http://www.freedomsponsors.org/issue/{{ issue.id }}&text=US$ {{ issue.total_open_offers_usd }} bounty on FreedomSponsors: {{ issue.title }}" class="social-button twitter"></a>
                <div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
                <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.freedomsponsors.org/issue/{{ issue.id }}" class="social-button google"></a>
            </div>

        </div>
        </div>
        </div>
        </div>


    </div>

{% endblock %}
