{# -*- coding:utf-8; -*- #}
{% extends "core2/base_old.html" %}
{% block mainContent%}
{% load markdown %}
{% load pagination_tags %}

<h3>{{title}}</h3>
<hr>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>送信者</th>
      <th>最終日付</th>
      <th>最終メッセージ</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td><a href="{{row.sender.id}}/">{{row.sender}}</a></td>
      <td>{{row.last_message.create_date}}</td>
      <td>{{row.last_message.body}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock mainContent%}
