{# -*- coding:utf-8; -*- #}
{% extends "core2/base_old.html" %}
{% block mainContent%}
{% load markdown %}
{% load pagination_tags %}

<h3>{{sender}}</h3>
<hr>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th style="width:20%;">日付</th>
      <th style="width:10%;">送信者</th>
      <th style="width:70%;">メッセージ</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>{{row.message.create_date}}</td>
      <td>{{row.message.from_user}}</td>
      <td>{{row.message.body}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="form-panel">
  <form method="post" action="" class="form-horizontal pd-t15px" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-9">
        <div style="position: relative;">
          <input class="form-control" id="id_body" maxlength="255" name="body" type="text" value="">
        </div>
      </div>
      <div class="col-sm-3">
        <input type="submit" name="" value="送信" />
      </div>
    </div>
  </form>
</div>

{% endblock mainContent%}
