{% extends "core2/base.html" %}

{% block title %}
    About FreedomSponsors / FAQ
{% endblock %}

{% block mainContent%}

<div style="width: 800px; margin: auto; margin-bottom: 125px;">
  <h1 class="green-text">利用規約</h1>
  <div class="fs-box">
    <p>一般社団法人Studygift（以下、「当法人」とします）は、教育費支援のためのプラットフォーム「Studygift.net」を提供し社会問題の 解決に貢献します。当法人は運営する「Studygift.net」（以下、「本サービス」とします）の利用に際して、以下のような規約（以下、「当規 約」とします）を定めています。規約は利用者向け、会員向け、被支援者向けの三種類があり、該当する方はすべての事項に同意する必要があります。会員は登 録申請を行った時点で、被支援者は教育費支援を申請した時点でそれぞれの規約に同意したものとみなします。</p>
  </div>
  
  <div class="vgap-30"><!-- Vertical Gap 30px --></div>
  <div class="fs-box">
	<h3 class="green-text">利用者規約の前提</h3>
    <ol>
      <li>当法人は、非営利型一般社団法人として会員と被支援者に対し支援を仲介するサービスを提供します</li>
      <li>支援は会員と被支援者との契約として行われ、当法人がその契約や決済に関わることはありません</li>
      <li>当法人は、教育費支援を望む若年層に適切な働きかけを行い、公平性と妥当性を最大限に確保します</li>
      <li>当法人は、教育費支援を受けた被支援者が適切な学業生活を送ることができるよう留意します</li>
      <li>当法人は、教育費負担が深刻な問題となっている若年層を一人でも多く支援できるよう尽力します</li>
      <li>当法人は、会員・被支援者の「Studygift.net」に関する要望に耳を傾け、定期的にその概要を公開します</li>
      <li>本サービスに関する著作権は、当法人に帰属します</li>
      <li>本サービスにおいて収集される個人情報は、別途プライバシーポリシーで定める通り適正に利用します</li>
      <li>当法人は、会員や被支援者に事前通知なく規約を変更し告知する場合があります</li>
    </ol>
  </div>

  <div class="vgap-30"><!-- Vertical Gap 30px --></div>
  <div class="fs-box">
	<h3 class="green-text">利用者（会員および被支援者）規約</h3>
    <ol>
      <li>支援は会員から被支援者への振込として行われ、決済はPaypalのアカウントを用いる</li>
      <li>会員は支援金振込に要する費用を負担するものとする</li>
      <li>被支援者は会員からの善意の支援であることをよく理解して日々努力し、成果を公開しなければならない</li>
      <li>被支援者は会員に対し誠実に情報を公開し、かつ当法人からの質問に対し真摯に回答する義務がある</li>
      <li>会員は、被支援者の成し遂げる成果が本質的に不確実であることを理解し、誹謗中傷を行ってはならない</li>
      <li>支援の成果は本質的に不確実性を回避できないものであり、違法行為がない限り原則として返金はできない</li>
      <li>会員・被支援者とともに「Studygift.net」上で他人を不快にさせるような誹謗中傷や罵倒を行ってはならない</li>
      <li>会員・被支援者ともに「Studygift.net」に関する誹謗中傷や罵倒をウェブ上で不特定多数に公開してはならない</li>
      <li>会員・被支援者ともに「Studygift.net」で特定対象に対し共同で著しい不快感を与える行動をとってはならない</li>
    </ol>
  </div>

  <div class="vgap-30"><!-- Vertical Gap 30px --></div>
  <div class="fs-box">
	<h3 class="green-text">会員規約</h3>
    <p>「会員」とは、「Studygift.net」において教育費支援を行い、当法人から定期報告を受ける方々です。メンタ―会員もこれに含まれます。</p>
    <ol>
      <li>会員は、教育費支援の性質を理解し、支援への金銭的もしくはそれに類する対価を求めない</li>
      <li>会員は、教育費支援の成果について情報公開を求めることができる</li>
      <li>会員は、教育費支援の成果について当法人やメンタ―の誹謗中傷を行ってはならない</li>
      <li>会員は助言を行うことはできるが、被支援者の誹謗中傷を行ってはならない</li>
      <li>会員は知り得た他会員や被支援者、当法人関係者のプライバシーを濫りに公表しない</li>
      <li>メンタ―会員は、被支援者から同意を得ない限りその詳細な個人情報を公表できない</li>
      <li>会員が以上の規約に反した場合、予告なく当サービスの利用を停止し、定期報告を行うのみとする</li>
      <li>以上の規約への違反行為のある人物には、会員登録を拒否する場合がある</li>
    </ol>
  </div>

  <div class="vgap-30"><!-- Vertical Gap 30px --></div>
  <div class="fs-box">
	<h3 class="green-text">被支援者規約</h3>
    <p>「被支援者」とは、「Studygift.net」において教育費支援を受け、メンタ―から助言を受ける方々です。</p>
    <ol>
      <li>被支援者は、教育費支援のため規定範囲の情報公開を「Studygift.net」で行う必要がある</li>
      <li>被支援者は、教育費支援を受けるため「Studygift.net」で真摯に誓約する必要がある</li>
      <li>被支援者は、教育費支援を受けるためメンタ―と面談して支援可否の判断を仰ぐ必要がある</li>
      <li>被支援者は、教育費支援が決定した後は毎月、定められた方法で情報公開を行う必要がある</li>
      <li>被支援者は、教育費支援を受けた後の学業修了や資格修得など一定の成果を報告する必要がある</li>
      <li>被支援者は支援者や当法人に偽りの事実を伝えたり、あるいは不正行為を行ったりしてはならない</li>
      <li>被支援者が以上の規約に違反した場合は、予告なく当サービスの利用を停止し、場合によっては事情を公表する</li>
    </ol>
  </div>

  <div class="vgap-30"><!-- Vertical Gap 30px --></div>
  <div class="fs-box">
	<h3 class="green-text">◎会員制度について</h3>
    <p>　当法人の会員は年会費制で、「Studygift.net」を利用し教育費支援を行うことができるとともに、当法人から の半期ごとの定期報告によって「Studygift.net」の運用状況やサービスについていち早く知ることができます。その他には随時、新着情報や各種イベント開催予定をお知らせします。</p>
  </div>

  <div class="vgap-30"><!-- Vertical Gap 30px --></div>
  <div class="fs-box">
	<h3 class="green-text">◎「メンタ―会員」について</h3>
    <p>　当法人のメンタ―会員は原則として社会人経験を有し、上記の会員であると同時に被支援者のメンタ―（精神的指導者）となり、被支援者と面談して各種の助言を行うとともに、教育費支援の最終的決定を行うことができ ます。メンタ―会員は自薦もしくは要請を受け、当法人において決定するものとします。また、勤務先の事情とメンタ―間での公平性を考慮し、メンタ―会員への金銭的報酬は発生しません。</p>
  </div>

  <div class="vgap-30"><!-- Vertical Gap 30px --></div>
  <div class="fs-box">
	<h3 class="green-text">◎「Studygift.net」におけるメンタ―とは</h3>
    <p>  メンタ―制度は 「Studygift.net」において教育費支援が適正に機能するかをチェックし、かつ社会人の立場から学生もしくは修学準備中の方に適切な助言を行う ため、決定的に重要な役割を担っております。具体的には、面談により①本人確認、②状況のヒアリング、③意思と計画性の確認、④助言、⑤教育費支援の可否 判断を行います。そのため、「Studygift.net」はメンタ―が活動可能な地域で教育費支援を行います。なお、メンタ―は当法人の理事が兼務する 場合があります。</p>
  </div>
</div>

{% endblock mainContent%}
