{% extends "core2/base_old.html" %}
{% load i18n %}
{% block head %}
  <script>
    if (!window.FS) {
      window.FS = {};
    }
    FS.dependencies = ['fsapi'];
  </script>
  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js-generated/fs.js"></script>
  <script>
    angular.module('fs').controller('ChangeUsernameCtrl', function ChangeUsernameCtrl($scope, FSApi) {
      $scope.curr_username = '{{ user.username }}';
      $scope.username = $scope.curr_username;

      $scope.keypress = function (evt) {
        if (evt.charCode == 13) {
          $scope.check();
          evt.preventDefault();
        }
        return false;
      };

      $scope.check = function (evt) {
        $scope.checking = true;
        var username = $scope.username;
        FSApi.check_username_availability(username).onResult(function (result) {
          $scope.$apply(function () {
            $scope.available = result.ok;
            $scope.message = result.message;
            $scope.checking = false;
          });
        });
        evt.preventDefault();
      }

      $scope.submit = function () {
        $('#le_form').submit();
      }
    });

  </script>
{% endblock head %}


{% block mainContent %}
  <h3>{{ user.first_name }} {{ user.last_name }}
    - {% trans "edit profile" %}</h3>
  <hr>

  <div class="modal hide fade in" id="div_brazilianModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>{% trans "Here's something you should know..." %}</h3>
    </div>
    <div class="modal-body">
      <p>
        Well... aqui entre nós, podemos continuar em português né? :-)<br>
        Se você pretende fazer ofertas em issues, leia isso aqui!<br><br>

        Todas as ofertas feitas aqui no FreedomSponsors são em dólar (US$).<br>
        Acontece que a legislação brasileira exige que transações que tenham
        como origem e destinos contas paypal brasileiras sejam necessariamente
        feitas em reais (R$).<br><br>

        Na hora do pagamento, a sua oferta (que estará em dólar) terá um valor
        em reais <strong>sugerido</strong> convertido usando <a
        href="http://blog.freedomsponsors.org/a-note-to-brazilians/">esta
        regra</a>. Nessa hora você terá a opção de alterar em reais, se quiser.

      </p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-primary" data-dismiss="modal">Beleza,
        entendi!</a>
    </div>
  </div>

  <div class="modal hide fade in" id="div_cancelAccountModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>{% trans "You're about to terminate your account. Are you sure?" %}</h3>
    </div>
    <form method="post" action="/user/cancel_account">
      {% csrf_token %}
      <div class="modal-body">
        <p>{% trans "By cancelling your account:" %}</p>
        <ul>
          <li>{% trans "You won't be able to log in." %}</li>
          <li>{% trans "You will not receive any emails from FreedomSponsors, unless it has something to do with payments to or from you." %}</li>
          <li>{% trans "Your public profile page will just display your username and a Account disabled message" %}</li>
          <li>{% trans "Any pending offers from you will be automatically revoked" %}</li>
          <li>{% trans "Any issues in progress that you may have will be automatically aborted" %}</li>
        </ul>
        <p>{% trans "Are you sure?" %}</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary"
           data-dismiss="modal">{% trans "NO! Keep my account!" %}</a>
        <input type="submit" class="btn btn-danger"
               value="Yes, cancel my account">
      </div>
    </form>
  </div>

  <div class="row-fluid" ng-app="fs" ng-controller="ChangeUsernameCtrl">
    <div class="span2">
      <img src="{{ user.gravatar_url_big }}"/>
      <a href="http://en.gravatar.com/"
         target="_gravatar">{% trans "Change picture<" %}/a> <i
        class="icon-question-sign icon-white popopo" rel="popover"
        data-content="We display your picture as it is registered in Gravatar. Go ahead and create your account there if you still don't have one"
        data-original-title="No upload here!"></i>
    </div>
    <div class="span8">
      <form method="post" class="form-horizontal"
            action="{% url 'core.views.user_views.editUser' %}">
        {% csrf_token %}
        <fieldset>

          <input type="hidden" name="next" value="{{ next }}">

          <div class="control-group">
            <label class="control-label"></label>

            <div class="controls">
              {% if not userinfo.is_approval %}
                {% ifequal userinfo.user_type 3 %}
                  <div class="lbl-account-supporter">一般アカウント</div>
                  <button type="button" id="btn_account_student"
                        class=" btn-account-student-false">学生登録を行う<br>
                    <small>（承認制）</small>
                  </button>
                  <button type="button" id="btn-account-mentor"
                        class="btn-account-mentor-false">メンター登録を行う<br>
                    <small>（承認制）</small>
                  </button>
                  <p class="color-red">注意) 申請後の変更はできません。</p>
                {% else %}
                  {% ifequal userinfo.user_type 1 %}
                    <div class="lbl-account-student">
                      <label>学生アカウント申請中</label>
                    </div>
                  {% endifequal %}
                  {% ifequal userinfo.user_type 2 %}
                    <div class="lbl-account-mentor">
                      <label>メンターアカウント申請中</label>
                    </div>
                  {% endifequal %}
                {% endifequal %}
              {% else %}
                {% ifequal userinfo.user_type 1 %}
                  <div class="lbl-account-student">
                    <label class="lbl-account-student">
                      <i class="lbl-account-student"></i>
                      学生認証済み</label>
                  </div>
                {% endifequal %}
                {% ifequal userinfo.user_type 2 %}
                  <div class="">
                    <label class="lbl-account-mentor">
                      <i class="icon-ok"></i>
                      メンター認証済み</label>
                  </div>
                {% endifequal %}
              {% endif %}
            </div>
          </div>

          {% if can_edit_username %}
            <div class="control-group">
              <label class="control-label"
                     for="username">{% trans "Username" %}</label>

              <div class="controls" style="display: inline; margin-left: 20px;">
                <input type="text" class="span4" style="display: inline"
                       id="username" name="username" ng-model="username"
                       ng-keypress="keypress($event)">
                <button ng-click="check($event)" style="display: inline"
                        ng-show="username != curr_username">{% trans "Check availability" %}</button>
                <p class="help-block" style="margin-left: 160px;">
                  <img src="/static/img2/ajax-loader.gif" ng-show="checking">
                  <span ng-class="{success:available, fail:!available}">{[{ message }]}</span>
                </p>
              </div>
            </div>
          {% else %}
            <div class="control-group">
              <label class="control-label"
                     for="username">{% trans "Username" %}</label>

              <div class="controls"
                   style="padding-top: 6px">{{ user.username }}</div>
            </div>
          {% endif %}

          <div class="control-group">
            <label class="control-label"
                   for="primaryEmail">{% trans "Primary email" %}
              {% if user.email and not userinfo.is_primary_email_verified %}
                <i class="icon-warning-sign popopo" rel="popover"
                   data-content="{% trans "This email is not verified. Save your profile to resend verification email." %}"
                   data-original-title="{% trans "Unverified email" %}"></i>
              {% endif %}
            </label>

            <div class="controls">
              <input type="text" class="span7" id="primaryEmail"
                     name="primaryEmail" value="{{ user.email }}">

              <p class="help-block">
                {% trans "This is where you'll receive notifications from StudyGift" %}
              </p>
            </div>
          </div>
          <div class="control-group controls">
            <label class="checkbox">
              <input type="checkbox" id="differentPaypalEmail"
                     name="differentPaypalEmail" value="differentPaypalEmail"
                {% if userinfo.is_differentPaypalEmail %}
                     checked
                {% endif %}
                >
              {% trans "I have a Paypal account with a different email address" %}
            </label>

            <p class="help-block">
              {% trans "What if I don't have Paypal " %}<i class="icon-question-sign popopo"
                                             rel="popover"
                                             data-content="{% trans "You will only need one to send or receive payments. Check the FAQ for more details." %}"
                                             data-original-title="{% trans "That's OK, for now..." %}"></i>
            </p>
          </div>
          <div class="control-group" id="div_paypalEmail"
            {% if userinfo.is_differentPaypalEmail %}
               style="display:block"
            {% else %}
               style="display:none"
            {% endif %}
            >
            <label class="control-label" for="paypalEmail">Paypal email
              {% if userinfo.paypalEmail and not userinfo.is_paypal_email_verified %}
                <i class="icon-warning-sign popopo" rel="popover"
                   data-content="This email is not verified. Save your profile to resend verification email."
                   data-original-title="Unverified email"></i>
              {% endif %}
            </label>

            <div class="controls">
              <input type="text" class="span7" id="paypalEmail"
                     name="paypalEmail" value="{{ userinfo.paypalEmail }}">

              <p class="help-block">
                {% trans "The email account registered in" %} <a href="http://www.paypal.com"
                                                   target="_paypal">Paypal</a>
                {% trans "(you need one to send and receive payments)" %}
              </p>
            </div>
          </div>


{#          <div class="control-group controls">#}
{#            <label class="checkbox">#}
{#              <input type="checkbox" id="brazilianPaypal" name="brazilianPaypal"#}
{#                     value="brazilianPaypal"#}
{#                {% if userinfo.brazilianPaypal %}#}
{#                     checked#}
{#                {% endif %}#}
{#                >#}
{#              <img src="/static/img/brazilianFlag.gif"/> I am brazilian#}
{#            </label>#}
{##}
{#            <p class="help-block">#}
{#              Why are you asking me this <i class="icon-question-sign popopo"#}
{#                                            rel="popover"#}
{#                                            data-content="Paypal works a little different with brazilian accounts, in such a way that it changes how FreedomSponsors should behave."#}
{#                                            data-original-title="Because..."></i>#}
{#            </p>#}
{#          </div>#}
{#          {% if BITCOIN_ENABLED %}#}
{#            <div class="control-group">#}
{#              <script src="/static/js/2.5.3-crypto-sha256.js"></script>#}
{#              <script src="/static/js/jsbn.js"></script>#}
{#              <script src="/static/js/jsbn2.js"></script>#}
{#              <script src="/static/js/validate_bitcoin.js"></script>#}
{#              <label class="control-label" for="bitcoin_receive_address">Bitcoin#}
{#                receive address</label>#}
{##}
{#              <div class="controls">#}
{#                <input type="text" id="bitcoin_receive_address"#}
{#                       name="bitcoin_receive_address"#}
{#                       value="{{ userinfo.bitcoin_receive_address }}"/>#}
{##}
{#                <p class="help-block">#}
{#                  Your address to receive Bitcoin payments#}
{#                </p>#}
{#              </div>#}
{#            </div>#}
{#          {% endif %}#}

{#          <div class="control-group">#}
{#            <label class="control-label" for="preferred_language_code">Preferred#}
{#              Language</label>#}
{##}
{#            <div class="controls">#}
{#              <select id="preferred_language_code"#}
{#                      name="preferred_language_code">#}
{#                {% for lang in available_languages %}#}
{#                  <option value="{{ lang.code }}"#}
{#                    {% ifequal lang.code userinfo.preferred_language_code %}#}
{#                          selected#}
{#                    {% endifequal %}#}
{#                    >#}
{#                    {{ lang.label }}#}
{#                  </option>#}
{#                {% endfor %}#}
{#              </select>#}
{#            </div>#}
{#          </div>#}
          <div class="control-group">
            <label class="control-label" for="realName">氏名</label>

            <div class="controls">
              <input type="text" class="span4" id="realName" name="realName"
                     value="{{ userinfo.realName }}">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="website">SNSのURL</label>

            <div class="controls">
              <input type="text" class="span4" id="website" name="website"
                     value="{{ userinfo.website }}">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="about">自己紹介</label>

            <div class="controls">
              <textarea id="about" class="span8" name="about"
                        rows="8">{{ userinfo.about }}</textarea>

{#              <p class="help-block">#}
{#                You can use <a target="_markdown"#}
{#                               href="http://blog.freedomsponsors.org/markdown_formatting/">markdown</a>#}
{#                for formatting#}
{#              </p>#}
            </div>
          </div>
          <div class="control-group controls well">
            <span
              style="text-decoration:underline">{% trans "Email notification settings" %}</span>
            <ul style="margin-top:10px">
              <li>
                {% trans "When I watch an issue, I want to be notified when" %}
                <ul>
                  <li>
                    <label class="checkbox">
                      <input type="checkbox" id="receiveEmail_issue_comments"
                             name="receiveEmail_issue_comments"
                             value="receiveEmail_issue_comments"
                        {% if userinfo.receiveEmail_issue_comments %}
                             checked
                        {% endif %}
                        >
                      {% trans "A new comment is added" %}
                    </label>
                  </li>
                  <li>
                    <label class="checkbox">
                      <input type="checkbox" id="receiveEmail_issue_work"
                             name="receiveEmail_issue_work"
                             value="receiveEmail_issue_work"
                        {% if userinfo.receiveEmail_issue_work %}
                             checked
                        {% endif %}
                        >
                      {% trans "Someone starts or stop working on it" %}
                    </label>
                  </li>
                  <li>
                    <label class="checkbox">
                      <input type="checkbox" id="receiveEmail_issue_offer"
                             name="receiveEmail_issue_offer"
                             value="receiveEmail_issue_offer"
                        {% if userinfo.receiveEmail_issue_offer %}
                             checked
                        {% endif %}
                        >
                      {% trans "An offer is added or changed" %}
                    </label>
                  </li>
                  <li>
                    <label class="checkbox">
                      <input type="checkbox" id="receiveEmail_issue_payment"
                             name="receiveEmail_issue_payment"
                             value="receiveEmail_issue_payment"
                        {% if userinfo.receiveEmail_issue_payment %}
                             checked
                        {% endif %}
                        >
                      {% trans "An offer is paid" %}
                    </label>
                  </li>
                </ul>
              </li>
            </ul>
            <ul style="margin-top:10px">
              <li>
                {% trans "Other notifications" %}
                <ul>
                  <li>
                    <label class="checkbox">
                      <input type="checkbox" id="receiveEmail_announcements"
                             name="receiveEmail_announcements"
                             value="receiveEmail_announcements"
                        {% if userinfo.receiveEmail_announcements %}
                             checked
                        {% endif %}
                        >
                      {% trans "Send me important announcements regarding the StudyGift platform" %}
                    </label>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- 			<label class="checkbox">
				<input type="checkbox" id="receiveAllEmail" name="receiveAllEmail" value="receiveAllEmail" 
				{% if userinfo.receiveAllEmail %}
				checked
				{% endif %}
				>
				Send me notification mail about the issues that I'm involved with
			</label> -->
          </div>
{#          <div class="control-group controls">#}
{#            <label class="checkbox">#}
{#              <input type="checkbox" id="hide_from_userlist"#}
{#                     name="hide_from_userlist" value="hide_from_userlist"#}
{#                {% if userinfo.hide_from_userlist %}#}
{#                     checked#}
{#                {% endif %}#}
{#                >#}
{#              {% trans "Do not include me in the public user listing" %}#}
{#            </label>#}
{#          </div>#}
          <div class="form-actions">
            <a id="btnCancel" class="btn btn-default"
               href="{{ user.get_view_link }}">キャンセル</a>
            <button id="btnSubmit" class="btn btn-default">更新</button>
          </div>

        </fieldset>
      </form>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h1>{% trans "Danger zone" %}</h1>
      <hr>
      <button id="btnCancelAccount" class="btn btn-danger">{% trans "Cancel my account" %}
      </button>
    </div>
  </div>


  <script>
    function submit_onclick() {
      var username = undefined;
      var need_username = $('#username').length > 0;
      if (need_username) {
        username = $('#username').val().trim();
      }
      var primaryEmail = $('#primaryEmail').val().trim();
      var bitcoin_addr = $('#bitcoin_receive_address').val()
      if (need_username && !username) {
        alert('username is required')
        return false;
      }
      if (!primaryEmail) {
        alert('Primary email is required')
        return false;
      }
      if (bitcoin_addr && !check_address(bitcoin_addr)) {
        alert('Bitcoin address invalid')
        return false;
      }
    }

    $(function () {
      $('#btnSubmit').click(submit_onclick);
      $('#brazilianPaypal').change(function () {
        var selected = $('#brazilianPaypal:checked').val() != undefined;
        if (selected) {
          $('#div_brazilianModal').modal();
        }
      });
      $('#differentPaypalEmail').change(function () {
        var selected = $('#differentPaypalEmail:checked').val() != undefined;
        $('#paypalEmail').val('');
        if (selected) {
          $('#div_paypalEmail').slideDown();
        } else {
          $('#div_paypalEmail').slideUp();
        }
      });
      $('#btnCancelAccount').click(function () {
        $('#div_cancelAccountModal').modal();
      });
    });
  </script>
{% endblock mainContent %}