<div class="footer">
    <div class="footer-left-section">
    </div>
    <div class="footer-midle-section">
        <a href="/faq" class="footer-link">FAQ</a>
        <a href="/core/project" class="footer-link">プロジェクトリスト</a>
        <a href="/rule" class="footer-link" target="_blank">サービス利用規約</a>
        <a href="#" class="footer-link" target="_blank">特定商取引法の表記</a>
        <a href="#" class="footer-link" target="_blank">チーム</a>
        <a href="#" class="footer-link">Facebook</a>
        <a href="#" class="footer-link">Twitter</a>
        <span class="right">&copy; Study Gift</span>
    </div>
    <div class="footer-right-section">
    </div>
</div>
