{# -*- coding:utf-8; -*- #}
{% load i18n %}

<!-- Header -->
<div class="header" align="center">
    <!-- Header Top Section-->
    <div class="header-top-section" align="right">
        {% if user and user.is_authenticated %}
            <div class="dropdown-button">
                <a class="dropdown-label" id="drop_user" data-toggle="dropdown" href="#">
                    {{ user.username }}
                    <span class="arrow-down"></span>
                </a>
                <ul id="menu1" class="dropdown-menu" aria-labelledby="drop_user">
                    <li><a href="{{ user.get_view_link }}">プレビュー</a></li>
                    <li><a href="/user/edit">プロフィール</a></li>
                    {% if user.getUserInfo.can_change_username %}
                        <li><a href="/user/change_username">ユーザー名の変更</a></li>
                    {% endif %}
                    {% if user.has_usable_password %}
                        <li><a href="/accounts/password/change">パスワード変更</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="/myissues">My issues</a></li>
                    {% if user.github_username %}
                        <li class="divider"></li>
                        <li><a href="/github/configure">Github Settings</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="/logout">Sign Out</a></li>
                </ul>
            </div>
        {% else %}
            <div class="login-section">
{#                Login or Sign up with:#}
{#                <a href="/login/google-openidconnect" rel="nofollow" class="social-login google"></a>#}
{#                <a href="/login/github" rel="nofollow" class="social-login github"></a>#}
{#                <a href="/login/facebook" rel="nofollow" class="social-login facebook"></a>#}
{#                <a href="/login/twitter" rel="nofollow" class="social-login twitter"></a>#}
{#                <a href="/login">More »</a>#}
                <a href="/login">ログイン</a>|
                <a href="/accounts/register/student/">学生登録</a>|
                <a href="/accounts/register/mentor/">メンター登録</a>|
                <a href="/accounts/register/supporter/">支援者登録</a>
            </div>
        {% endif %}
    </div>
    <!-- Header Middle Section-->
    <div class="header-middle-section  border-box">
        <div class="column-wrapper vcenter-content">
            <div class="column fit">
                <a href="/" class="menu-option">ホーム</a>
                <a href="/search" class="menu-option">検索</a>
                <a href="/stats" class="menu-option">統計</a>
                <a href="/user" class="menu-option">ユーザー</a>
                <a href="/faq" class="menu-option">FAQ</a>
                <a href="/feedback" class="menu-option">フィードバック</a>
                <a href="/message" class="menu-option">
                  メッセージ
                  {% if user.getUserInfo.get_unread_message_count %}
                  <span style="color:orange;">({{user.getUserInfo.get_unread_message_count}})</span>
                  {% endif %}
                </a>
            </div>
            <div>
                <form method="get" action="/search">
                    <input name="s" type="text" placeholder="Quick search" class="fs-input medium black search right"/>
                </form>
            </div>
        </div>
    </div>
    <!-- Header Bottom Section-->
    <div class="header-bottom-section">
{#        {% if crumbs %}#}
{#        <div class="breadcumb-section left">#}
{#            You are here: {#}
{#				<span class="breadcumbs-list">#}
{#                    {% for crumb in crumbs %}#}
{#                        {% if forloop.counter > 1 %}#}
{#                            /#}
{#                        {% endif %}#}
{#                        <a href="{{ crumb.link }}" {% if crumb.blank %}target="_blank"{% endif %} >{{ crumb.name }}</a>#}
{#                    {% endfor %}#}
{#				</span>#}
{#            };#}
{#        </div>#}
{#        {% endif %}#}
{#        {% if user.is_authenticated %} #}
{#        <div class="buttons-section right"> #}
{#            <a href="" class="fs-button square green mini">+</a><a href="/issue/add" class="sponsor-new font-size-14 green-text">{% trans "Sponsor new issue" %}</a> #}
{#             <a href="" class="fs-button square blue mini">+</a><a href="/issue/add?operation=KICKSTART" class="propose-new font-size-14 blue-text">{% trans "Propose new issue" %}</a> #}
{#        </div> #}
{#        {% endif %} #}
    </div>
</div>
