<!-- -*- coding:utf-8; -*- -->
<!-- offer price -->
<div class="control-group">
  <label class="control-label" for="price">Offer</label>
  <div class="controls form-inline">
    <div style="padding-bottom:10px;">
      <input type="radio" id="currency" name="currency" value="USD" checked> US$
      {% if BITCOIN_ENABLED %}
      <input type="radio" id="currency" name="currency" value="BTC"> Bitcoin 
      {% endif %}
    </div>
    <!-- 初期値として10を設定しておく -->
    <input type="text" id="price" name="price" value="10" class="positive" style="width:80px;">

    <span >&nbsp;&nbsp;&nbsp;</span>
    <label class="checkbox" id="no_forking_label">
      <input type="checkbox" id="no_forking" name="no_forking" value="no_forking" checked>
      No Forking
      <i class="icon-question-sign popopo" rel="popover" data-content="Having this checked means that you are only interested in solutions that are implemented on the main project's codebase. We recommended leaving it checked. It will enable you to benefit from new improvements that might get implemented in the future." data-original-title="Original vs. copies"></i>
    </label>
    <span >&nbsp;&nbsp;&nbsp;</span>
    <label class="checkbox" id="require_release_label">
      <input type="checkbox" id="require_release" name="require_release" value="require_release" checked>
      Require release
      <i class="icon-question-sign popopo" rel="popover" data-content="By checking this one you are telling the developer that just commiting the code is not enough. The solution must be available in a released, easily installable version" data-original-title="Commiting is not enough!"></i>
    </label>
    <p class="help-block">
      FreedomSponsors will charge a 3% fee on top of your payment. For offers in US$, Paypal's fees will also apply.
    </p>

  </div>
</div>

<!-- expiration date -->
<div class="control-group">
  <div class="controls form-inline">
    <label class="checkbox">
      <input type="checkbox" id="expires" name="expires" value="expires">
      This offer will expire... 
    </label>
    
    <span id="div_expiration" class="hide" style="vertical-align:bottom;">
      in
      <input type="text" id="expiration_time" name="expiration_time" class="positive-integer" style="width:50px;">
      Days
    </span>
    
  </div>
</div>

<!-- acceptance criteria -->
<div class="control-group">
  <label class="control-label" for="acceptanceCriteria">Acceptance criteria</label>
  <div class="controls">
    <!-- 初期値として全角スペースを設定しておく -->
    <textarea class="input-xlarge span9" id="acceptanceCriteria" name="acceptanceCriteria" rows="10" placeholder="Please put some thought into this one - it's a big help for the programmer who will work on this. What is your definition of 'done' for this task? Not just 'done', but 'so-done-that-I'm-willing-to-pay-for-it-done' :-)">　</textarea>
    <p class="help-block">
      You can use <a target="_markdown" href="http://blog.freedomsponsors.org/markdown_formatting/">markdown</a> for formatting
    </p>
  </div>
</div>

<script>

  function setOfferData(offer){
    $('input[name=currency]').filter('[value='+offer.currency+']').attr('checked', true)
    $('#price').val(''+offer.price);
    $('#no_forking').attr('checked', offer.no_forking)
    $('#require_release').attr('checked', offer.require_release)
    $('#expires').attr('checked', offer.expires)
    expires_onchange()
    if(offer.expires && offer.expiration_time > 0){
      $('#expiration_time').val(''+offer.expiration_time)
    }
    $('#acceptanceCriteria').val(offer.acceptanceCriteria);
  }

  function validateOffer(){
      var price = parseFloat($('#price').val());
      var currency = $('input[name=currency]:checked').val()
      if(isNaN(price)){
        alert('please specify an offer value');
        return false;
      }
      if(currency == 'BTC'){
        if(price <= 0){
          alert('Invalid offer value');
          return false;
          //no BTC minimum
        }
      } else {
        if(price < 5){
          alert('The minimum offer is US$ 5.00');
          return false;
        }
      }
      if(!$('#acceptanceCriteria').val()){
        alert('please specify you acceptance criteria for this offer');
        return false;
      }
      var expires = $('#expires:checked').val() != undefined;
      if(expires && !$('#expiration_time').val()){
        alert('please specify an expiration time (in days)');
        return false;
      }
      return true;
  }

  function expires_onchange(){
    var expires = $('#expires:checked').val() != undefined;
    if(expires){
      $('#div_expiration').slideDown();
    } else {
      $('#div_expiration').slideUp();
    }
  }

  $(function(){
    $('#expires').change(expires_onchange);
  });
</script>
