{% extends "core2/base.html" %}
{% load i18n %}

{% block mainContent %}
  <div class="container">
    <h1>{% trans "Congratulations!" %}</h1>

    <p>{% trans "Your registration is now complete. You can proceed to the " %}<a href="/login">{% trans "login page" %}</a>.</p>
  </div>

{% endblock %}