{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
<h1>{% trans "You've been logged out." %}</h1>
<p>{% trans "Thanks for stopping by; when you come back, don't forget to" %} <a href="/accounts/login/">{% trans "log in" %}</a>{% trans "again." %} </p>
{% endblock %}