{% extends "core2/base.html" %}

{% block mainContent %}

  {% if form.errors %}
      <div class="alert alert-danger" style="text-align: center;">入力内容にエラーがあります。: {{ form.non_field_errors }}</div>
      {# <div>debug: form.errors: {{form.errors}}</div> #}
  {% endif %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="text-align: center;">
        <div>
          <h1>会員登録</h1>
          <ul class="nav nav-pills">
            <li role="presentation" class="tab-register active"><a href="#">サポーター登録</a></li>
            <li role="presentation" class="tab-register"><a href="{% url "registration_student" %}">学生登録</a></li>
            <li role="presentation" class="tab-register"><a href="{% url "registration_mentor" %}">メンター登録</a></li>
          </ul>
        </div>
        <div class="form-panel">
          <form method="post" action="" class="form-horizontal pd-t15px">
             {% csrf_token %}
             {{ form.user_type }}
            <div class="form-group">
              {% if form.username.errors %}
                <div
                  class="col-sm-12 alert alert-error">{{ form.username.errors.as_text }}</div>
              {% endif %}

              <label class="col-sm-3 control-label" for="id_username">ユーザーID</label>
              <div class="col-sm-9">
                {{ form.username }}
              </div>
{#            {{ form.username }}#}
            </div>

            <div class="form-group">
              {% if form.username.errors %}
                <div
                  class="col-sm-12 alert alert-error">{{ form.realName.errors.as_text }}</div>
              {% endif %}

              <label class="col-sm-3 control-label" for="id_username">氏名</label>
              <div class="col-sm-9">
                {{ form.realName }}
              </div>
{#            {{ form.username }}#}
            </div>

            <div class="form-group">
              {% if form.email.errors %}
                <div
                  class="col-sm-12 alert alert-error">{{ form.email.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_email">メールアドレス</label>
              <div class="col-sm-9">
                {{ form.email }}
              </div>
            </div>

            <div class="form-group">
              {% if form.prefecture.errors %}
                <div
                  class="col-sm-12 alert alert-danger">{{ form.prefecture.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_prefecture">居住地域</label>
              <div class="col-sm-9">
                {{ form.prefecture }}
              </div>
            </div>
            
            <div class="form-group">
              {% if form.website.errors %}
                <div
                  class="col-sm-12 alert alert-error">{{ form.website.website.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_email">SNSのURL</label>
              <div class="col-sm-9">
                {{ form.website }}
              </div>
            </div>

            <div class="form-group">
              {% if form.other_contact.errors %}
                <div
                  class="col-sm-12 alert alert-error">{{ form.website.other_contact.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_email">予備の連絡先</label>
              <div class="col-sm-9">
                {{ form.other_contact }}
              </div>
            </div>

            <div class="form-group">
              {% if form.password1.errors %}
                <div
                  class="col-sm-12 alert alert-error">{{ form.password1.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_password1">パスワード</label>
              <div class="col-sm-9">
                <input class="form-control" type="password" id="id_password1" name="password1" value="{{ form.password1.value }}">
              </div>
            </div>
            <div class="form-group">
              {% if form.password2.errors %}
                <div
                  class="alert alert-error">{{ form.password2.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_password2">パスワードの確認</label>
              <div class="col-sm-9">
                <input class="form-control" type="password" id="id_password2" name="password2" value="{{ form.password2.value }}">
              </div>
            </div>
            <div class="submit"><input type="submit" class="btn btn-default"
                                     value="登録" style="text-align: center;"></div>

          </form>
        </div>
      </div>
    </div>
  </div>



{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</p>

<p>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</p>
{% endblock %}
