{% extends "core2/base.html" %}
{% load i18n %}

{% block mainContent %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{% trans "Check your email" %}</h1>

        <p>{% trans "An activation link has been sent to the email address you supplied, along with instructions for activating your account." %}</p>
      </div>
    </div>
  </div>
{% endblock %}