{% extends "core2/base.html" %}

{% block mainContent %}

  {% if form.errors %}
      <div class="alert alert-danger" style="text-align: center;">入力内容にエラーがあります。: {{ form.non_field_errors }}</div>
      <div>debug: form.errors: {{form.errors}}</div>
  {% endif %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="pd-b20px">
          <h1>会員登録</h1>
          <ul class="nav nav-pills">
            <li role="presentation" class="tab-register"><a href="{% url 'registration_supporter' %}">サポーター登録</a></li>
            <li role="presentation" class="tab-register"><a href="{% url 'registration_student' %}">学生登録</a></li>
            <li role="presentation" class="tab-register active"><a href="#">メンター登録</a></li>
          </ul>
          <small>登録するアカウントの種類を選択します。</small>
        </div>
        <div class="form-panel">
          <form method="post" action="" class="form-horizontal pd-t15px" enctype="multipart/form-data">
             {% csrf_token %}
             {{ form.user_type }}
            <div class="form-group">
              {% if form.profile_image.errors %}
                <div
                  class="col-sm-12 alert alert-danger">{{ form.profile_image.errors.as_text }}</div>
              {% endif %}

              <label class="col-sm-3 control-label" for="id_username">プロフィール画像
                <br>
                <small>※本人の顔写真</small>
              </label>
              <div class="col-sm-9">
{#                <input class="form-control" id="id_username" maxlength="30" name="username" type="text" value="{{ form.profile_image.value }}">#}
                <div style="position: relative;">
                  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                  {{ form.profile_image }}
                </div>
              </div>
{#            {{ form.username }}#}
            </div>


            <div class="form-group">
              {% if form.username.errors %}
                <div
                  class="col-sm-12 alert alert-danger">{{ form.username.errors.as_text }}</div>
              {% endif %}

              <label class="col-sm-3 control-label" for="id_username">ユーザーID</label>
              <div class="col-sm-9">
                {{ form.username }}
              </div>
{#            {{ form.username }}#}
            </div>

            <div class="form-group">
              {% if form.realName.errors %}
                <div class="col-sm-12 alert alert-danger">{{ form.realName.errors.as_text }}</div>
              {% endif %}

              <label class="col-sm-3 control-label" for="id_username">氏名</label>
              <div class="col-sm-9">
                {{ form.realName }}
              </div>
{#            {{ form.username }}#}
            </div>

            <div class="form-group">
              {% if form.email.errors %}
                <div
                  class="col-sm-12 alert alert-danger">{{ form.email.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_email">メールアドレス</label>
              <div class="col-sm-9">
                {{ form.email }}
              </div>
            </div>

            <div class="form-group">
              {% if form.prefecture.errors %}
                <div
                  class="col-sm-12 alert alert-danger">{{ form.prefecture.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_prefecture">居住地域</label>
              <div class="col-sm-9">
                {{ form.prefecture }}
              </div>
            </div>

            <div class="form-group">
              {% if form.nearest_station.errors %}
                <div
                  class="col-sm-12 alert alert-danger">{{ form.nearest_station.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_nearest_station">自宅からの最寄り駅</label>
              <div class="col-sm-9">
                {{ form.nearest_station }}
              </div>
            </div>

            <div class="form-group">
              {% if form.academic_background.errors %}
                <div
                  class="col-sm-12 alert alert-danger">{{ form.academic_background.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_academic_background">最終学歴</label>
              <div class="col-sm-9">
                {{ form.academic_background }}
              </div>
            </div>

            <div class="form-group">
              {% if form.year_of_career.errors %}
                <div
                  class="col-sm-12 alert alert-danger">{{ form.year_of_career.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_year_of_career">社会人の経験年数</label>
              <div class="col-sm-9">
                {{ form.year_of_career }}
              </div>
            </div>

            <div class="form-group">
              {% if form.other_contact.errors %}
                <div
                  class="col-sm-12 alert alert-danger">{{ form.other_contact.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_other_contact">予備の連絡先</label>
              <div class="col-sm-9">
                <input class="form-control" id="id_other_contact" name="other_contact" type="text" value="{{ form.other_contact.value }}">
              </div>
            </div>

            <div class="form-group">
              {% if form.website.errors %}
                <div
                  class="col-sm-12 alert alert-danger">{{ form.website.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_email">SNSのURL</label>
              <div class="col-sm-9">
                <input class="form-control" id="id_website" name="website" type="text" value="{{ form.website.value }}">
              </div>
            </div>

            <div class="form-group">
              {% if form.job_career.errors %}
                <div
                  class="col-sm-12 alert alert-danger">{{ form.job_career.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_job_career">職務経歴</label>
              <div class="col-sm-9">
                {{ form.job_career }}
              </div>
            </div>


            <div class="form-group">
              {% if form.password1.errors %}
                <div
                  class="col-sm-12 alert alert-danger">{{ form.password1.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_password1">パスワード</label>
              <div class="col-sm-9">
                {{ form.password1 }}
              </div>
            </div>
            <div class="form-group">
              {% if form.password2.errors %}
                <div
                  class="alert alert-danger">{{ form.password2.errors.as_text }}</div>
              {% endif %}
              <label class="col-sm-3 control-label" for="id_password2">パスワードの確認</label>
              <div class="col-sm-9">
{#                <input class="form-control" type="password" id="id_password2" name="password2" value="{{ form.password2.value }}">#}
                {{ form.password2 }}
              </div>
            </div>
            <div class="submit" style="text-align: center;"><input type="submit" class="btn btn-default"
                                     value="登録"></div>

          </form>
        </div>
      </div>
    </div>
  </div>



{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</p>

<p>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</p>
{% endblock %}
